menu "Network Configuration"

    config WIFI_SSID
        string "WiFi SSID"

    config ENABLE_SNTP
        bool "Enable SNTP"
        default n

endmenu

menu "OTA Configuration"

    config OTA_ENDPOINT
        string "OTA endpoint"

    config OTA_BOOT_ENDPOINT
        string "OTA bootstrapper endpoint"

    config OTA_CHECK_INTERVAL
        int "OTA check Interval in seconds"
        default 300

    config OTA_RECV_TIMEOUT
        int "OTA receive timeout in ms"
        default 15000

endmenu

menu "Logging Configuration"

    config LOG_ENDPOINT
        string "Logging endpoint"

    config LOG_INTERVAL
        int "Interval to upload log messages in ms"
        default 5000

    config LOG_RECV_TIMEOUT
        int "Logging receive timeout in ms"
        default 15000

endmenu
