menu "Network Configuration"

    config NETWORK_ENABLE_SNTP
        bool "Enable SNTP"
        default n

    config NETWORK_WIFI_CONNECT_ATTEMPTS
        int "WiFi connection attempts"
        default 5

    config NETWORK_WIFI_MAX_TX_POWER
        int "WiFi max transmission power"
        default 0

        help
            When set to 0, the default will be used. If you want a sane "low"
            power setting, 44 will suffice. This translates to 11 Db.

    config NETWORK_RECEIVE_TIMEOUT
        int "Network receive timeout in ms"
        default 15000

endmenu
