# Allow MBEDTLS to use PSRAM

CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC=y

# Required for WiFI

CONFIG_DIAG_USE_EXTERNAL_LOG_WRAP=y

# Enable SPIRAM for WiFi

CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
