menu "MDM Configuration"

    config MDM_OTA_CHECK_INTERVAL
        int "OTA check Interval in seconds"
        default 300

    config MDM_LOG_INTERVAL
        int "Interval to upload log messages in ms"
        default 5000

endmenu
